<app-navbar></app-navbar>

<div class="container">
        <div class="row  pb-2">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <h1> Libro de Gatos</h1>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12">
                <app-cover></app-cover>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12">
               <app-details></app-details>
                </div>
            </div>
        </div>

